<!DOCTYPE html>
<html lang="en">
<head>

    <!--Meta Tags for Search Engines-->
    <meta charset="UTF-8">
    <meta name="description" content="MED24 Aesthetic Clinic for Beauty surgeries and healthcare">
    <meta name="keywords" content="Aesthetic Clinic, Filler, botox, fit-lifting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Anass Muhammad Ali">

    <title>MED24 Aesthetic Clinic</title>
</head>
<body>
    <!--Header-->
    <header>

    </header>

    <!--Main-->
    <main>

    </main>

    <!--Footer-->
    <footer>
        <p>Copyright © reserved for Anass Muhammad Ali</p>
    </footer>
    
</body>
</html>